.dub
.vscode
docs.json
__dummy.html
docs/
/hoekjed_voorbeeld
hoekjed_voorbeeld.so
hoekjed_voorbeeld.dylib
hoekjed_voorbeeld.dll
hoekjed_voorbeeld.a
hoekjed_voorbeeld.lib
hoekjed_voorbeeld-test-*
*.exe
*.o
*.obj
*.lst

glfw3.dll
glfw3dll.lib